body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-size: 36px;
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}


.container {
    font-size: 18px;
    flex:1;
    max-width: 600px;
    margin: 30px auto; /* bikin ke tengah */
    padding: 20px;
    background-color: white;
    border: 2px solid #3498db; /* border */
    border-radius: 10px; /* sudut melengkung */
}

h2 {
    font-size: 24px;
    color:#2c3e50;
}

ul {
    list-style-type: square;
}

.Kontak  {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.kontak-item {
    border: 2px solid #3498db;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.kontak-item p {
    margin: 0 0 5px 0;
    font-weight: bold;
}

.kontak-item a {
    text-decoration: none;
    color: #2c3e50;
}

.kontak-item a:hover {
    color: #3498db;
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
